.fileUpload {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #7fb5eb));
    background: -moz-linear-gradient(top, #79bbff 5%, #7fb5eb 100%);
    background: -webkit-linear-gradient(top, #79bbff 5%, #7fb5eb 100%);
    background: -o-linear-gradient(top, #79bbff 5%, #7fb5eb 100%);
    background: linear-gradient(to bottom, #79bbff 5%, #7fb5eb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#7fb5eb',GradientType=0);
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: -2px 2px 0px #528ecc;
}

    .fileUpload:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7fb5eb), color-stop(1, #79bbff));
        background: -moz-linear-gradient(top, #7fb5eb 5%, #79bbff 100%);
        background: -webkit-linear-gradient(top, #7fb5eb 5%, #79bbff 100%);
        background: -o-linear-gradient(top, #7fb5eb 5%, #79bbff 100%);
        background: linear-gradient(to bottom, #7fb5eb 5%, #79bbff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fb5eb', endColorstr='#79bbff',GradientType=0);
        background-color: #7fb5eb;
    }

    .fileUpload:active {
        position: relative;
        top: 1px;
    }
